USE [master]
GO
/****** Object:  Database [ControlDeAutoBus]    Script Date: 12/13/2025 4:25:14 PM ******/
CREATE DATABASE [ControlDeAutoBus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ControlDeAutoBus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ControlDeAutoBus.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ControlDeAutoBus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ControlDeAutoBus_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControlDeAutoBus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControlDeAutoBus]
GO
/****** Object:  Table [dbo].[Asignaciones]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaciones](
	[AsignacionID] [int] IDENTITY(1,1) NOT NULL,
	[ChoferID] [int] NOT NULL,
	[AutobusID] [int] NOT NULL,
	[RutaID] [int] NOT NULL,
	[Activa] [bit] NULL,
	[FechaAsignacion] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AsignacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Autobuses]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autobuses](
	[AutobusID] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Placa] [varchar](20) NOT NULL,
	[Color] [varchar](50) NULL,
	[Ano] [int] NULL,
	[IsDeleted] [bit] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AutobusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Choferes]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choferes](
	[ChoferID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Cedula] [varchar](20) NOT NULL,
	[IsDeleted] [bit] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChoferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutas]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutas](
	[RutaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRuta] [varchar](100) NOT NULL,
	[IsDeleted] [bit] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RutaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRuta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
	[Clave] [varchar](200) NOT NULL,
	[RolID] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Autobuses] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Autobuses] ADD  DEFAULT ((0)) FOR [Activo]
GO
ALTER TABLE [dbo].[Choferes] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Choferes] ADD  DEFAULT ((0)) FOR [Activo]
GO
ALTER TABLE [dbo].[Rutas] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Rutas] ADD  DEFAULT ((0)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (newid()) FOR [UsuarioID]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Asignaciones]  WITH CHECK ADD FOREIGN KEY([AutobusID])
REFERENCES [dbo].[Autobuses] ([AutobusID])
GO
ALTER TABLE [dbo].[Asignaciones]  WITH CHECK ADD FOREIGN KEY([ChoferID])
REFERENCES [dbo].[Choferes] ([ChoferID])
GO
ALTER TABLE [dbo].[Asignaciones]  WITH CHECK ADD FOREIGN KEY([RutaID])
REFERENCES [dbo].[Rutas] ([RutaID])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
/****** Object:  StoredProcedure [dbo].[Asignacion_GetAll]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Asignacion_GetAll]
AS
BEGIN
    SELECT a.AsignacionID,
           a.ChoferID,
           c.Nombre AS ChoferNombre,
           a.AutobusID,
           b.Marca + ' ' + b.Modelo AS AutobusNombre,
           a.RutaID,
           r.NombreRuta AS RutaNombre,
           a.FechaAsignacion,
           a.IsDeleted,
		   a.Activa
    FROM Asignaciones a
    INNER JOIN Choferes c ON a.ChoferID = c.ChoferID
    INNER JOIN Autobuses b ON a.AutobusID = b.AutobusID
    INNER JOIN Rutas r ON a.RutaID = r.RutaID
    WHERE a.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[Asignacion_GetById]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Asignacion_GetById]
@AsignacionID INT
AS
BEGIN
    SELECT a.AsignacionID,
           a.ChoferID,
           c.Nombre AS ChoferNombre,
           a.AutobusID,
           b.Marca + ' ' + b.Modelo AS AutobusNombre,
           a.RutaID,
           r.NombreRuta AS RutaNombre,
           a.FechaAsignacion,
           a.IsDeleted,
		   a.Activa
    FROM Asignaciones a
    INNER JOIN Choferes c ON a.ChoferID = c.ChoferID
    INNER JOIN Autobuses b ON a.AutobusID = b.AutobusID
    INNER JOIN Rutas r ON a.RutaID = r.RutaID
    WHERE @AsignacionID = AsignacionID AND a.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[Asignaciones_SoftDelete]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Asignaciones_SoftDelete]
    @AsignacionID INT
AS
BEGIN
    UPDATE Asignaciones
    SET IsDeleted = 1
    WHERE AsignacionID = @AsignacionID;
END
GO
/****** Object:  StoredProcedure [dbo].[Asignaciones_Update]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Asignaciones_Update]
    @AsignacionID INT,
    @ChoferID INT,
    @AutobusID INT,
    @RutaID INT,
    @FechaAsignacion DATETIME,
	@Activa BIT
AS
BEGIN
    UPDATE Asignaciones
    SET ChoferID = @ChoferID,
        AutobusID = @AutobusID,
        RutaID = @RutaID,
        FechaAsignacion = @FechaAsignacion,
		Activa = @Activa
    WHERE AsignacionID = @AsignacionID AND IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[Autobus_GetAll]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Autobus_GetAll]
AS
BEGIN
    SELECT *
    FROM Autobuses
    WHERE IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Autobus_GetById]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Autobus_GetById]
    @AutobusID INT
AS
BEGIN
    SELECT *
    FROM Autobuses
    WHERE AutobusID = @AutobusID AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Autobus_SoftDelete]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Autobus_SoftDelete]
    @AutobusID INT
AS
BEGIN
    UPDATE Autobuses
    SET IsDeleted = 1
    WHERE AutobusID = @AutobusID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Autobus_Update]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Autobus_Update]
    @AutobusID INT,
    @Marca VARCHAR(50),
    @Modelo VARCHAR(50),
    @Placa VARCHAR(20),
    @Color VARCHAR(50),
    @Ano INT,
	 @Activo BIT 
AS
BEGIN
    UPDATE Autobuses
    SET Marca = @Marca,
        Modelo = @Modelo,
        Placa = @Placa,
        Color = @Color,
        Ano = @Ano,
        IsDeleted = 0,   -- REACTIVA SI ESTÁ BORRADO
		Activo = @Activo
    WHERE AutobusID = @AutobusID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Chofer_GetAll]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Chofer_GetAll]
AS
BEGIN
    SELECT * FROM Choferes
	WHERE IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Chofer_GetById]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Chofer_GetById]
    @ChoferID INT
AS
BEGIN
    SELECT * 
    FROM Choferes
    WHERE ChoferID = @ChoferID AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Chofer_SoftDelete]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Chofer_SoftDelete]
    @ChoferID INT
AS
BEGIN
    UPDATE Choferes
    SET IsDeleted = 1
    WHERE ChoferID = @ChoferID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Chofer_Update]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Chofer_Update]
    @ChoferID INT,
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @FechaNacimiento DATE,
    @Cedula VARCHAR(20),
	 @Activo BIT 
AS
BEGIN
    UPDATE Choferes
    SET Nombre = @Nombre,
        Apellido = @Apellido,
        FechaNacimiento = @FechaNacimiento,
        Cedula = @Cedula,
		Activo = @Activo
    WHERE ChoferID = @ChoferID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableAsignables]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAvailableAsignables]
    @AsignacionId INT = NULL
AS
BEGIN
    DECLARE 
        @ChoferActual INT,
        @BusActual INT,
        @RutaActual INT;

    IF @AsignacionId IS NOT NULL
    BEGIN
        SELECT 
            @ChoferActual = ChoferID,
            @BusActual = AutobusID,
            @RutaActual = RutaID
        FROM Asignaciones
        WHERE AsignacionId = @AsignacionId;
    END

    -- CHOFERES
    SELECT c.ChoferID, c.Nombre, c.Apellido
    FROM Choferes c
    WHERE c.IsDeleted = 0
      AND (
          c.ChoferID = @ChoferActual
          OR NOT EXISTS (
              SELECT 1
              FROM Asignaciones a
              WHERE a.ChoferID = c.ChoferID
                AND a.Activa = 1
                AND a.IsDeleted = 0
          )
      );

    -- AUTOBUSES
    SELECT a.AutobusID, a.Marca, a.Modelo
    FROM Autobuses a
    WHERE a.IsDeleted = 0
      AND (
          a.AutobusID = @BusActual
          OR NOT EXISTS (
              SELECT 1
              FROM Asignaciones x
              WHERE x.AutobusID = a.AutobusID
                AND x.Activa = 1
                AND x.IsDeleted = 0
          )
      );

    -- RUTAS
    SELECT r.RutaID, r.NombreRuta
    FROM Rutas r
    WHERE r.IsDeleted = 0
      AND (
          r.RutaID = @RutaActual
          OR NOT EXISTS (
              SELECT 1
              FROM Asignaciones x
              WHERE x.RutaID = r.RutaID
                AND x.Activa = 1
                AND x.IsDeleted = 0
          )
      );
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarAsignaciones]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarAsignaciones]
    @ChoferID INT,
    @AutobusID INT,
    @RutaID INT,
    @FechaAsignacion DATETIME,
	@Activa BIT
AS
BEGIN
    INSERT INTO Asignaciones (ChoferID, AutobusID, RutaID, FechaAsignacion, IsDeleted, Activa)
    VALUES (@ChoferID, @AutobusID, @RutaID, @FechaAsignacion, 0, @Activa);
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarAutobus]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarAutobus]
    @Marca VARCHAR(50),
    @Modelo VARCHAR(50),
    @Placa VARCHAR(20),
    @Color VARCHAR(50),
    @Ano INT
AS
BEGIN
    INSERT INTO Autobuses (Marca, Modelo, Placa, Color, Ano)
    VALUES (@Marca, @Modelo, @Placa, @Color, @Ano);
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarChofer]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarChofer]
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @FechaNacimiento DATE,
    @Cedula VARCHAR(20)
AS
BEGIN
    INSERT INTO Choferes ( Nombre, Apellido, FechaNacimiento, Cedula)
    VALUES ( @Nombre, @Apellido, @FechaNacimiento, @Cedula);
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarRuta]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RegistrarRuta]
    @NombreRuta VARCHAR(100)
AS
BEGIN
    INSERT INTO Rutas (NombreRuta)
    VALUES (@NombreRuta);
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuario]
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Usuario VARCHAR(100),
    @Clave VARCHAR(200),
    @RolID INT
AS
BEGIN
    INSERT INTO Usuarios (Nombre, Apellido, Usuario, Clave, RolID)
    VALUES (@Nombre, @Apellido, @Usuario, @Clave, @RolID);
END;
GO
/****** Object:  StoredProcedure [dbo].[Ruta_GetAll]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ruta_GetAll]
AS
BEGIN
    SELECT * FROM Rutas
	Where IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Ruta_GetById]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ruta_GetById]
    @RutaID INT
AS
BEGIN
    SELECT *
    FROM Rutas
    WHERE RutaID = @RutaID AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Ruta_SoftDelete]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ruta_SoftDelete]
    @RutaID INT
AS
BEGIN
    UPDATE Rutas
    SET IsDeleted = 1
    WHERE RutaID = @RutaID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Ruta_Update]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ruta_Update]
    @RutaID INT,
    @NombreRuta VARCHAR(100),
	 @Activo BIT 
AS
BEGIN
    UPDATE Rutas
    SET NombreRuta = @NombreRuta,
	   IsDeleted = 0 ,
	   Activo = @Activo
    WHERE RutaID = @RutaID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_GetAll]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_GetAll]
AS
BEGIN
    SELECT *
    FROM Usuarios
	WHERE IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_GetById]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_GetById]
    @UsuarioID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT *
    FROM Usuarios
    WHERE UsuarioID = @UsuarioID AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_GetByUser]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_GetByUser]
    @User VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UsuarioID,
        Nombre,
        Apellido,
        [Usuario],
        [Clave],
        RolID
    FROM Usuarios
    WHERE [Usuario] = @User
      AND IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_SoftDelete]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_SoftDelete]
    @UsuarioID UNIQUEIDENTIFIER
AS
BEGIN
    UPDATE Usuarios
    SET IsDeleted = 1
    WHERE UsuarioID = @UsuarioID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_Update]    Script Date: 12/13/2025 4:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_Update]
    @UsuarioID UNIQUEIDENTIFIER,
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Usuario VARCHAR(100),
    @Clave VARCHAR(200),
    @RolID INT
AS
BEGIN
    UPDATE Usuarios
    SET Nombre = @Nombre,
        Apellido = @Apellido,
        Usuario = @Usuario,
        Clave = @Clave,
        RolID = @RolID,
        IsDeleted = 0
    WHERE UsuarioID = @UsuarioID;
END;
GO
USE [master]
GO
