USE [ControlDeAutoBus]
GO
/****** Object:  StoredProcedure [dbo].[Asignacion_GetAll]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Asignacion_GetAll]
AS
BEGIN
    SELECT a.AsignacionID,
           a.ChoferID,
           c.Nombre AS ChoferNombre,
           a.AutobusID,
           b.Marca + ' ' + b.Modelo AS AutobusNombre,
           a.RutaID,
           r.NombreRuta AS RutaNombre,
           a.FechaAsignacion,
           a.IsDeleted,
		   a.Activa
    FROM Asignaciones a
    INNER JOIN Choferes c ON a.ChoferID = c.ChoferID
    INNER JOIN Autobuses b ON a.AutobusID = b.AutobusID
    INNER JOIN Rutas r ON a.RutaID = r.RutaID
    WHERE a.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[Asignacion_GetById]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Asignacion_GetById]
@AsignacionID INT
AS
BEGIN
    SELECT a.AsignacionID,
           a.ChoferID,
           c.Nombre AS ChoferNombre,
           a.AutobusID,
           b.Marca + ' ' + b.Modelo AS AutobusNombre,
           a.RutaID,
           r.NombreRuta AS RutaNombre,
           a.FechaAsignacion,
           a.IsDeleted,
		   a.Activa
    FROM Asignaciones a
    INNER JOIN Choferes c ON a.ChoferID = c.ChoferID
    INNER JOIN Autobuses b ON a.AutobusID = b.AutobusID
    INNER JOIN Rutas r ON a.RutaID = r.RutaID
    WHERE @AsignacionID = AsignacionID AND a.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[Asignaciones_SoftDelete]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Asignaciones_SoftDelete]
    @AsignacionID INT
AS
BEGIN
    UPDATE Asignaciones
    SET IsDeleted = 1
    WHERE AsignacionID = @AsignacionID;
END
GO
/****** Object:  StoredProcedure [dbo].[Asignaciones_Update]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Asignaciones_Update]
    @AsignacionID INT,
    @ChoferID INT,
    @AutobusID INT,
    @RutaID INT,
    @FechaAsignacion DATETIME,
	@Activa BIT
AS
BEGIN
    UPDATE Asignaciones
    SET ChoferID = @ChoferID,
        AutobusID = @AutobusID,
        RutaID = @RutaID,
        FechaAsignacion = @FechaAsignacion,
		Activa = @Activa
    WHERE AsignacionID = @AsignacionID AND IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[Autobus_GetAll]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Autobus_GetAll]
AS
BEGIN
    SELECT *
    FROM Autobuses
    WHERE IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Autobus_GetById]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Autobus_GetById]
    @AutobusID INT
AS
BEGIN
    SELECT *
    FROM Autobuses
    WHERE AutobusID = @AutobusID AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Autobus_SoftDelete]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Autobus_SoftDelete]
    @AutobusID INT
AS
BEGIN
    UPDATE Autobuses
    SET IsDeleted = 1
    WHERE AutobusID = @AutobusID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Autobus_Update]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Autobus_Update]
    @AutobusID INT,
    @Marca VARCHAR(50),
    @Modelo VARCHAR(50),
    @Placa VARCHAR(20),
    @Color VARCHAR(50),
    @Ano INT,
	 @Activo BIT 
AS
BEGIN
    UPDATE Autobuses
    SET Marca = @Marca,
        Modelo = @Modelo,
        Placa = @Placa,
        Color = @Color,
        Ano = @Ano,
        IsDeleted = 0,   -- REACTIVA SI ESTÁ BORRADO
		Activo = @Activo
    WHERE AutobusID = @AutobusID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Chofer_GetAll]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Chofer_GetAll]
AS
BEGIN
    SELECT * FROM Choferes
	WHERE IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Chofer_GetById]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Chofer_GetById]
    @ChoferID INT
AS
BEGIN
    SELECT * 
    FROM Choferes
    WHERE ChoferID = @ChoferID AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Chofer_SoftDelete]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Chofer_SoftDelete]
    @ChoferID INT
AS
BEGIN
    UPDATE Choferes
    SET IsDeleted = 1
    WHERE ChoferID = @ChoferID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Chofer_Update]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Chofer_Update]
    @ChoferID INT,
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @FechaNacimiento DATE,
    @Cedula VARCHAR(20),
	 @Activo BIT 
AS
BEGIN
    UPDATE Choferes
    SET Nombre = @Nombre,
        Apellido = @Apellido,
        FechaNacimiento = @FechaNacimiento,
        Cedula = @Cedula,
		Activo = @Activo
    WHERE ChoferID = @ChoferID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableAsignables]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAvailableAsignables]
    @AsignacionId INT = NULL
AS
BEGIN
    DECLARE 
        @ChoferActual INT,
        @BusActual INT,
        @RutaActual INT;

    IF @AsignacionId IS NOT NULL
    BEGIN
        SELECT 
            @ChoferActual = ChoferID,
            @BusActual = AutobusID,
            @RutaActual = RutaID
        FROM Asignaciones
        WHERE AsignacionId = @AsignacionId;
    END

    -- CHOFERES
    SELECT c.ChoferID, c.Nombre, c.Apellido
    FROM Choferes c
    WHERE c.IsDeleted = 0
      AND (
          c.ChoferID = @ChoferActual
          OR NOT EXISTS (
              SELECT 1
              FROM Asignaciones a
              WHERE a.ChoferID = c.ChoferID
                AND a.Activa = 1
                AND a.IsDeleted = 0
          )
      );

    -- AUTOBUSES
    SELECT a.AutobusID, a.Marca, a.Modelo
    FROM Autobuses a
    WHERE a.IsDeleted = 0
      AND (
          a.AutobusID = @BusActual
          OR NOT EXISTS (
              SELECT 1
              FROM Asignaciones x
              WHERE x.AutobusID = a.AutobusID
                AND x.Activa = 1
                AND x.IsDeleted = 0
          )
      );

    -- RUTAS
    SELECT r.RutaID, r.NombreRuta
    FROM Rutas r
    WHERE r.IsDeleted = 0
      AND (
          r.RutaID = @RutaActual
          OR NOT EXISTS (
              SELECT 1
              FROM Asignaciones x
              WHERE x.RutaID = r.RutaID
                AND x.Activa = 1
                AND x.IsDeleted = 0
          )
      );
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarAsignaciones]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarAsignaciones]
    @ChoferID INT,
    @AutobusID INT,
    @RutaID INT,
    @FechaAsignacion DATETIME,
	@Activa BIT
AS
BEGIN
    INSERT INTO Asignaciones (ChoferID, AutobusID, RutaID, FechaAsignacion, IsDeleted, Activa)
    VALUES (@ChoferID, @AutobusID, @RutaID, @FechaAsignacion, 0, @Activa);
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarAutobus]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarAutobus]
    @Marca VARCHAR(50),
    @Modelo VARCHAR(50),
    @Placa VARCHAR(20),
    @Color VARCHAR(50),
    @Ano INT
AS
BEGIN
    INSERT INTO Autobuses (Marca, Modelo, Placa, Color, Ano)
    VALUES (@Marca, @Modelo, @Placa, @Color, @Ano);
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarChofer]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarChofer]
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @FechaNacimiento DATE,
    @Cedula VARCHAR(20)
AS
BEGIN
    INSERT INTO Choferes ( Nombre, Apellido, FechaNacimiento, Cedula)
    VALUES ( @Nombre, @Apellido, @FechaNacimiento, @Cedula);
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarRuta]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RegistrarRuta]
    @NombreRuta VARCHAR(100)
AS
BEGIN
    INSERT INTO Rutas (NombreRuta)
    VALUES (@NombreRuta);
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuario]
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Usuario VARCHAR(100),
    @Clave VARCHAR(200),
    @RolID INT
AS
BEGIN
    INSERT INTO Usuarios (Nombre, Apellido, Usuario, Clave, RolID)
    VALUES (@Nombre, @Apellido, @Usuario, @Clave, @RolID);
END;
GO
/****** Object:  StoredProcedure [dbo].[Ruta_GetAll]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ruta_GetAll]
AS
BEGIN
    SELECT * FROM Rutas
	Where IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Ruta_GetById]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ruta_GetById]
    @RutaID INT
AS
BEGIN
    SELECT *
    FROM Rutas
    WHERE RutaID = @RutaID AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Ruta_SoftDelete]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ruta_SoftDelete]
    @RutaID INT
AS
BEGIN
    UPDATE Rutas
    SET IsDeleted = 1
    WHERE RutaID = @RutaID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Ruta_Update]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ruta_Update]
    @RutaID INT,
    @NombreRuta VARCHAR(100),
	 @Activo BIT 
AS
BEGIN
    UPDATE Rutas
    SET NombreRuta = @NombreRuta,
	   IsDeleted = 0 ,
	   Activo = @Activo
    WHERE RutaID = @RutaID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_GetAll]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_GetAll]
AS
BEGIN
    SELECT *
    FROM Usuarios
	WHERE IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_GetById]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_GetById]
    @UsuarioID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT *
    FROM Usuarios
    WHERE UsuarioID = @UsuarioID AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_GetByUser]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_GetByUser]
    @User VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UsuarioID,
        Nombre,
        Apellido,
        [Usuario],
        [Clave],
        RolID
    FROM Usuarios
    WHERE [Usuario] = @User
      AND IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[Usuario_SoftDelete]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_SoftDelete]
    @UsuarioID UNIQUEIDENTIFIER
AS
BEGIN
    UPDATE Usuarios
    SET IsDeleted = 1
    WHERE UsuarioID = @UsuarioID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Usuario_Update]    Script Date: 12/13/2025 4:26:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_Update]
    @UsuarioID UNIQUEIDENTIFIER,
    @Nombre VARCHAR(100),
    @Apellido VARCHAR(100),
    @Usuario VARCHAR(100),
    @Clave VARCHAR(200),
    @RolID INT
AS
BEGIN
    UPDATE Usuarios
    SET Nombre = @Nombre,
        Apellido = @Apellido,
        Usuario = @Usuario,
        Clave = @Clave,
        RolID = @RolID,
        IsDeleted = 0
    WHERE UsuarioID = @UsuarioID;
END;
GO
